    <div class="row">

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Length (m)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data.results track by d.model">
                <td>{{d.name}}</td>
                <td>{{d.manufacturer}}</td>
                <td>{{d.length}}</td>
            </tr>
            </tbody>
        </table>
        <button ng-click="fetchDataSpaceships()" class="btn btn-primary">
            <i class="glyphicon glyphicon-refresh"></i> Fetch Data
        </button>
    </div>
