<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Simple SPA</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="Application" ng-controller="CoreController">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Simple SPA </h1>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
          <button ng-click="getName()" class="btn btn-primary btn-block">Submit</button>
        </div>
        <div class="form-group">
          Your Full Name : {{fullName}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-1">
        <a href="#!/get">
          <button class="btn btn-block btn-primary">Get</button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="#!/post">
          <button class="btn btn-block btn-success">Post</button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="#!/put">
          <button class="btn btn-block btn-info">Put</button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="#!/patch">
          <button class="btn btn-block btn-info">Patch</button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="#!/delete">
          <button class="btn btn-block btn-danger">Delete</button>
        </a>
      </div>
    </div>
    <div class="row">
      <ng-view></ng-view>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.min.js"></script>
  <script src="Application.js"></script>
  <script src="AppController.js"></script>
  <script src="AppService.js"></script>
  <script src="AppRoute.js"></script>
</body>
</html>