<div class="row">
	<button ng-click="fetchPlanetsData()" class="btn btn-primary" style="margin-top: 2.5%; margin-bottom: 1.5%;">
	    <i class="glyphicon glyphicon-refresh"></i> Fetch Planets Data
	</button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rotation Period</th>
                <th>Orbital Period</th>
                <th>Diameter</th>
                <th>Climate</th>
                <th>Gravity</th>
                <th>Terrain</th>
                <th>Surface Water</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pd in planetsData.results track by pd.name">
                <td>{{pd.name}}</td>
                <td>{{pd.rotation_period}}</td>
                <td>{{pd.orbital_period}}</td>
                <td>{{pd.diameter}}</td>
                <td>{{pd.climate}}</td>
                <td>{{pd.gravity}}</td>
                <td>{{pd.terrain}}</td>
                <td>{{pd.surface_water}}</td>
                <td>{{pd.population}}</td>
            </tr>
        </tbody>
    </table>
</div>