<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body ng-app="irfan.basic.Application" ng-controller="irfan.ctrl">
    <h1>Angular Data Binding Example</h1>
    <a href="https://github.com/mazipan/angularjs-basic-tutorial">See source code</a>
    <br/>
    <br/>
    <div class="row">
        <input type="text" placeholder="firstname" ng-model="firstName">
        <input type="text" placeholder="lastname" ng-model="lastName">
        <button ng-click="seeFullName()">See my Full Name</button>
        <h1>{{fullName}}</h1>
    </div>
    <a href="https://github.com/mazipan/angularjs-basic-tutorial">See source code</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js"></script>
    <script src="Application.js"></script>
    <script src="AppController.js"></script>
</body>

</html>
