<table class="table" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Rotation Period</th>
            <th>Orbital Period</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Gravity</th>
            <th>Terrain</th>
            <th>Water Surface</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="planet in dataPlanet.results track by planet.name">
            <td>{{planet.name}}</td>
            <td>{{planet.rotation_period}}</td>
            <td>{{planet.orbital_period}}</td>
            <td>{{planet.diameter}}</td>
            <td>{{planet.climate}}</td>
            <td>{{planet.gravity}}</td>
            <td>{{planet.terrain}}</td>
            <td>{{planet.surface_water}}</td>
            <td>{{planet.population}}</td>
        </tr>
    </tbody>
</table>
