<br>
<div class="col-xs-2 col-xs-offset-1">
  <button class="btn btn-block btn-primary" ng-click="getPostData()">Posts</button>
</div>
<div class="col-xs-2">
  <button class="btn btn-block btn-primary" ng-click="getCommentData()">Comments</button>
</div>
<div class="col-xs-2">
  <button class="btn btn-block btn-primary" ng-click="getAlbumData()">Albums</button>
</div>
<div class="col-xs-2">
  <button class="btn btn-block btn-primary" ng-click="getToDoData()">To Dos</button>
</div>
<div class="col-xs-2">
  <button class="btn btn-block btn-primary" ng-click="getUserData()">Users</button>
</div>
<div class="clearfix"></div>
<br>
<div class="col-xs-offset-1 col-xs-10">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Name</th>
          <th>Email</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="d in data">
          <td>{{d.id}}</td>
          <td>{{d.title}}</td>
          <td>{{d.name}}</td>
          <td>{{d.email}}</td>
          <td>{{d.body}}</td>
        </tr>
      </tbody>
    </table>
</div>