<div class="col-xs-offset-1 col-xs-10">
  <h2>Form</h2>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="userID" placeholder="User ID">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" ng-model="title" placeholder="Title">
  </div>
  <div class="form-group">
    <textarea class="form-control" ng-model="body" placeholder="Body"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary pull-right">Submit</button>
  </div>
</div>