    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Hair Color</th>
                <th>Skin Color</th>
                <th>Eye Color</th>
                <th>Birth Year</th>
                <th>Gender</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data.results track by d.name">
                <td>{{d.name}}</td>
                <td>{{d.hair_color}}</td>
                <td>{{d.skin_color}}</td>
                <td>{{d.eye_color}}</td>
                <td>{{d.birth_year}}</td>
                <td>{{d.gender}}</td>
            </tr>
            </tbody>
        </table>
        <br>
        <button ng-click="fetchDataPeople()" class="btn btn-primary">
            <i class="glyphicon glyphicon-refresh"></i> Fetch Data
        </button>
        <br>
    </div>