    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Classification</th>
                <th>Designation</th>
                <th>Average Height (cm)</th>
                <th>Average Lifespan (y)</th>
                <th>Language</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data.results track by d.language">
                <td>{{d.name}}</td>
                <td>{{d.classification}}</td>
                <td>{{d.designation}}</td>
                <td>{{d.average_height}}</td>
                <td>{{d.average_lifespan}}</td>
                <td>{{d.language}}</td>
            </tr>
            </tbody>
        </table>
        <button ng-click="fetchDataSpecies()" class="btn btn-primary">
            <i class="glyphicon glyphicon-refresh"></i> Fetch Data
        </button>
    </div>