    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Passengers</th>
                <th>Max Atmosphering Speed (m/s)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in data.results track by d.model">
                <td>{{d.name}}</td>
                <td>{{d.model}}</td>
                <td>{{d.passengers}}</td>
                <td>{{d.max_atmosphering_speed}}</td>
            </tr>
            </tbody>
        </table>
        <button ng-click="fetchDataVehicles()" class="btn btn-primary">
            <i class="glyphicon glyphicon-refresh"></i> Fetch Data
        </button>
    </div>
