<div class="row">
<h1 class="text-center">List Film</h1>
<div class="text-center">
    <button ng-click="fetchData()" class="btn btn-primary">
        <i class="glyphicon glyphicon-refresh"></i> Fetch Data
    </button>
    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Director</th>
                <th>Released</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data.results track by d.episode_id">
                <td>{{d.title}}</td>
                <td>{{d.director}}</td>
                <td>{{d.release_date | date : 'yyyy-MMM-dd'}}</td>
            </tr>
        </tbody>
    </table>
</div>