<div class="row">
	<button ng-click="fetchFilmsData()" class="btn btn-primary" style="margin-top: 2.5%; margin-bottom: 1.5%;">
	    <i class="glyphicon glyphicon-refresh"></i> Fetch Films Data
	</button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Episode ID</th>
                <th>Opening Crawl</th>
                <th>Director</th>
                <th>Producer</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="fd in filmsData.results track by fd.episode_id">
                <td>{{fd.title}}</td>
                <td>{{fd.episode_id}}</td>
                <td>{{fd.opening_crawl}}</td>
                <td>{{fd.director}}</td>
                <td>{{fd.producer}}</td>
                <td>{{fd.release_date | date : 'yyyy-MM-dd'}}</td>
            </tr>
        </tbody>
    </table>
</div>