<div class="row">
	<button ng-click="fetchPeopleData()" class="btn btn-primary" style="margin-top: 2.5%; margin-bottom: 1.5%;">
	    <i class="glyphicon glyphicon-refresh"></i> Fetch People Data
	</button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Hair Color</th>
                <th>Skin Color</th>
                <th>Eye Color</th>
                <th>Birth Year</th>
                <th>Gender</th>
                <th>Homeworld</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ppld in peopleData.results track by ppld.name">
                <td>{{ppld.name}}</td>
                <td>{{ppld.height}}</td>
                <td>{{ppld.mass}}</td>
                <td>{{ppld.hair_color}}</td>
                <td>{{ppld.skin_color}}</td>
                <td>{{ppld.eye_color}}</td>
                <td>{{ppld.birth_year}}</td>
                <td>{{ppld.gender}}</td>
                <td>{{ppld.homeworld}}</td>
            </tr>
        </tbody>
    </table>
</div>