<div class="row">
	<button ng-click="fetchStarshipsData()" class="btn btn-primary" style="margin-top: 2.5%; margin-bottom: 1.5%;">
	    <i class="glyphicon glyphicon-refresh"></i> Fetch Starships Data
	</button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Cost in Credits</th>
                <th>Length</th>
                <th>Max Atmosphering Speed</th>
                <th>Crew</th>
                <th>Passengers</th>
                <th>Cargo Capacity</th>
                <th>Consumables</th>
                <th>Hyperdrive Rating</th>
                <th>MGLT</th>
                <th>Starship Class</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sd in starshipsData.results track by sd.name">
                <td>{{sd.name}}</td>
                <td>{{sd.model}}</td>
                <td>{{sd.manufacturer}}</td>
                <td>{{sd.cost_in_credits}}</td>
                <td>{{sd.length}}</td>
                <td>{{sd.max_atmosphering_speed}}</td>
                <td>{{sd.crew}}</td>
                <td>{{sd.passengers}}</td>
                <td>{{sd.cargo_capacity}}</td>
                <td>{{sd.consumables}}</td>
                <td>{{sd.hyperdrive_rating}}</td>
                <td>{{sd.MGLT}}</td>
                <td>{{sd.starship_class}}</td>
            </tr>
        </tbody>
    </table>
</div>