<div class="row">
	<button ng-click="fetchVehiclesData()" class="btn btn-primary" style="margin-top: 2.5%; margin-bottom: 1.5%;">
	    <i class="glyphicon glyphicon-refresh"></i> Fetch Vehicles Data
	</button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Cost in Credits</th>
                <th>Length</th>
                <th>Max Atmosphering Speed</th>
                <th>Crew</th>
                <th>Passengers</th>
                <th>Cargo Capacity</th>
                <th>Consumables</th>
                <th>Vehicle Class</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vd in vehiclesData.results track by vd.name">
                <td>{{vd.name}}</td>
                <td>{{vd.model}}</td>
                <td>{{vd.manufacturer}}</td>
                <td>{{vd.cost_in_credits}}</td>
                <td>{{vd.length}}</td>
                <td>{{vd.max_atmosphering_speed}}</td>
                <td>{{vd.crew}}</td>
                <td>{{vd.passengers}}</td>
                <td>{{vd.cargo_capacity}}</td>
                <td>{{vd.consumables}}</td>
                <td>{{vd.vehicle_class}}</td>
            </tr>
        </tbody>
    </table>
</div>